@import url('/src/css/fonts.css');

$main-color: #1eacc7;
$second-color: #ff5656;

*{
    font-family: 'Roboto';
}

// HEADER //

header{
    position: relative;
}
nav{
    height: 60px;
    background-color: #212121;
}

.menu{
    display: flex;
    justify-content: space-between;
    padding: 18px 70px;
    list-style-type: none;
    margin: 0;
        &__link {
    text-decoration: none;
    color:#fff;
    font-size: 15px;
    font-weight: 300;  
    }
    &__item{
        border-right: 2px dotted black;
        padding-right: 30px;
        a{
            &:hover{
                color: grey;
            }
        }
    }:last-child{
        border-right: none;
        padding-right: 0;
    }
}

.subheader{
    background-color: rgba(0, 0, 0, .6);
    height: 84px;
    position: absolute;
    width: 100%;
    &__logo{
        display: block;
        margin-top: 16px;
        max-width: 100%;
    }
    &__descr{
        font-size: 13px;
        font-weight: 300;
        color:#fff;
        margin-top: 6px;
    }
    &__call{
        color: #fff;
        font-size: 12px;
        margin-top: 17px;
        font-weight: 300;
        text-align: right;
    }
    &__phone{
        color:#fff;
        display: block;
        font-size: 22px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: right;
        text-decoration: none;
    }
    &__btn{
        margin-top: 19px;
        text-transform: uppercase;
        color:#fff;
        width: 172px;
        height: 46px;
        box-shadow: inset 0 -3px 0 rgba(0, 0, 0, .12);
        border: none;
        background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
        text-shadow: 1px 1px 0 rgba(0, 0, 0, .21);
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        border-radius: 4px;
        &:hover{
            background-image: none;
            background-color: #1eacc7;
        }
    }
}

// INTRO //
.intro{
    min-height: 800px;
    background: url(/src/images/img/mainBg.jpg) center center / cover no-repeat;
    padding: 150px 0 135px 0;
    &__header{
        font-size: 60px;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
        line-height: 60px;
        margin: 0;
        text-align: center;
    }
    &__subheader{
        font-size: 36px;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
        line-height: 36px;
        margin: 0;
        margin-top: 22px;
        text-align: center;
    }
    &__descr{
        font-size: 18px;
        font-weight: 300;
        line-height: 24px;
        text-align: center;
        color: #fff;
        margin-top: 23px;
    }
    &__btn{
        display: block;
        margin: 118px auto 0;
        width: 260px;
        height: 63px;
        box-shadow: inset 0 -3px 0 rgba(0, 0, 0, .12);
        background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
        text-shadow: 1px 1px 0 rgba(0, 0, 0, .21);
        color: #fff;
        border-radius: 4px;
        font-size: 18px;
        text-transform: uppercase;
        &:hover{
            background-image: none;
            background-color: #1eacc7;
        }
    }
}

//REASONS//
.reasons{
    min-height: 850px;
    padding: 71px 0 65px 0;
        &__block{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 35px;
        }
        &__round{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 25px;
            width: 113px;
            height: 113px;
            background-color: #1eacc7;
            border-radius: 100%;
        }
        &__descr{
            width: 343px;
        }
}

.topText{
    font-weight: 300;
    font-size: 17px;
    margin: 0 auto;
    height: 24px;
    width: 112px;
    background-color: #000000;
    color: #ffffff;
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    padding-top: 4px;
    &__white{
        color:#070716;
        background-color:#fff;
        position: relative;
        z-index: 2;
    }
}

.subText{
    font-size: 15px;
    color: #202020;
    font-size: 40px;
    text-align: center;
    font-weight: 700;
    margin-top: 33px;
    text-transform: uppercase;
    &__white{
        color:#fff;
        position: relative;
        z-index: 2;
    }
}

.title{
    color: #1EACC7;
    font-size: 15px;

}

//MOBILE//
.mobile{
    min-height: 850px;
    padding: 45px 80px;
    &__items{
        margin-top: 30px;
    }
    &__item{
        position: relative;
        width: 320px;
        height: 280px;
        margin: 0 auto;
        margin-bottom: 19px; 
        &__subtitle{
            color: #fff;
            font-size: 24px;
            text-transform: uppercase;
            text-align: center;
            line-height: 31px;
            padding-top: 92px;
        }
        &__plus{
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            bottom: 35px;
            left: 50%;
            transform: translateX(-50%);
            width: 26px;
            height: 26px;
            background-color: #000;
            border-radius: 100%;
            margin: 0 auto;
            padding: 6px;
            cursor: pointer;
            &:before{
                content:'';
                width: 14px;
                height: 2px;
                background-color: #1eacc7;
            }
            &:after{
                content:'';
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                height: 14px;
                width: 2px;
                background-color: #1eacc7;
                transition: 0.3 all;
            }
            &:hover{
                &:after, &:before{
                    background-color: #ff5656;
                }
            }
        }
        &_1{
            background: url(/src/images/img/cards/Карточка\ 1.png) center center/cover no-repeat
        }
        &_2{
            background: url(/src/images/img/cards/Карточка\ 2.png) center center/cover no-repeat
        }
        &_3{
            background: url(/src/images/img/cards/Карточка\ 3.png) center center/cover no-repeat
        }
        &_4{
            background: url(/src/images/img/cards/Карточка\ 4.png) center center/cover no-repeat
        }
        &_5{
            background: url(/src/images/img/cards/Карточка\ 5.png) center center/cover no-repeat
        }
        &_6{
            background: url(/src/images/img/cards/Карточка\ 6.png) center center/cover no-repeat
        }
    }
}

.topDescr{
    text-align: center;
    font-size: 17px;
    &__white{
        color:#fff;
        position: relative;
        z-index: 2;
    }
}

//CHOICE//
.choice{
    position: relative;
    min-height: 900px;
    padding: 55px 135px;
    &__img{
        position: relative;
        display: block;
        margin: 0 auto;
        margin-top: 55px;
        z-index: 2;
    }
    &__descr{
        text-align: center;
		color: #222222;
		font-size: 17px;
		font-weight: 300;
		line-height: 24px;
    }
}
.black{
    position: absolute ;
    top: 0;
    left: 0;
    height: 499px;
    width: 100%;
    background-color: #070716;
    z-index: 1;
}

//Require//
.require{
    padding: 60px 90px;
    &__block{
        margin: 33px 0;
        &__nmb{
            margin-bottom: 0px;
        }
    }
    &__title{
        color: #1ca8c3;
        font-size: 22px;
        &__red{
            color:#ff5656;
        }
        &__red{
            li{
                &:before{
                    background: url('/src/images/icons/check_red\ 1.png');
                }
            }
        }
    }
    &__list{
        list-style-type: none;
        padding-left: 10px;
        margin-top: 22px;
        li{
            position: relative;
            font-size: 17px;
            font-weight: 300;
            line-height: 24px;
            margin-bottom: 10px;
            &:before{
                content:'';
                display: block;
                position: absolute;
                left: -32px;
                top: 3px;
                width: 21px;
                height: 20px;
                background: url('/src/images/icons/check_blue\ 1.png');
            }
        }
    }
    .warning{
        .require__title{
            color:#ff5656
        }
        .require__list{
            li{
                &:before{
                    background: url('/src/images/icons/check_red\ 1.png');
                }
            }
        }
    }
}

//WORLD//
.world{
  min-height: 700px;
  padding: 50px 0;
  background: url('/src/images/img/map.jpg') center center/cover no-repeat;
  position: relative;
  &__link{
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
    font-size: 15px;
    font-weight: 400;
    color: #1EACC7
    }
}

//FOOTER//
footer{
    padding: 11px 21px 11px 21px;
    a{
        text-transform: uppercase;
        text-decoration: none;
        &:hover{
            text-decoration: none
        }
    }
}

.footer{
    &__divider{
        width: 300px;
        height: 4px;
        background-color: #1fbad6;
        margin: 0 auto;
    }
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 32px;
    }
    &__wrapper > div {
        width: 33%;
        &:nth-child(3){
            margin-left: 150px;
        }

    }
    &__social{
        width: 160px;
        display: flex;
        justify-content: space-between;
        margin-left: 20%;
        &__item{
            display: flex;
			justify-content: center;
			align-items: center;
			margin: 0 4px ;
			width: 32px;
			height: 32px;
			background-color: #070716;
			border-radius: 100%;
            i{
                color: #fff;
            }
        }
    }
    &__links{
        width: 390px;
        margin: 0 auto;
        margin-left: 80px;
        &__main{
            display: flex;
            justify-content: space-between;
            padding: 0 10px;
            a{
                color: #070716;
				font-size: 15px;
				font-weight: 300;
            }
        }
        &__sub{
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
            a{
                color: #999999;
				font-size: 11px;
				font-weight: 300;
            }
        }
        &__lang{
            display: block;
            color: #1EACC7;
            margin: 0 auto;
            font-size: 11px;
            text-align: center;
            margin-top: 19px;
        }
    }
    &__mobile{
        margin-left: 60px;
        &__apple{
            height: 25px;
            width: 75px;
        }
        &__google{
            height: 37px;
            width: 90px;
        }
        &__windows{
            height: 30px;
            width: 75px;
        }
    }   
}

// MEDIA
@media (max-width: 1200px) {
    // MENU
    .menu {
      &__item {
        padding-right: 20px;
      }
      &__link {
        font-size: 13px;
      }
    }

    .subheader__phone{
        font-size: 17px;
    }
    // INTRO
    .intro {
      &__header {
        font-size: 50px;
      }
    }

    // REASONS
    .reasons {
      &__block {
        align-items: flex-start;
      }
      &__descr {
        width: 300px;
      }
    }

    // MOBILE
    .mobile {
      &__item {
        width: 290px;
        &__subtitle {
          font-size: 22px;
        }
      }
    }

    // CHOICE
    .choice {
      padding: 55px 0;
      min-height: 840px;
    }
    .require {
      br {
        display: none;
      }
    }
}

// -----------------------------------------------

@media (max-width: 991px) {
    .subText {
        font-size: 28px;
    }
    .menu {
        &__item {
        padding-right: 8px;
        }
        &__link {
        font-size: 10px;
        }
    }
    .subheader {
        &__logo {
        img {
            width: 100%;
        }
        }
        &__logo {
        font-size: 11px;
        }
        &__phone {
        font-size: 15px;
        }
        &__btn {
        margin-top: 21px;
        height: 40px;
        width: 100%;
        }
    }

    // INTRO
    .intro {
        &__header {
        font-size: 40px;
        }
        &__subheader {
        font-size: 30px;
        }
    }

    // REASONS
    .reasons {
        &__block {
        flex-direction: column;
        align-items: center;
        }
        &__round {
        margin-right: 0;
        }
        &__descr {
        width: 300px;
        margin-top: 20px;
        }
    }
    .choice {
        min-height: 800px;
        &__img {
        width: 100%;
        }
    }
    .world {
        min-height: 650px;
    }
    .footer {
    &__links{
        margin-left: 40px;
    }
    &__mobile{
        margin-left: 15px;
        &__apple{
            height: 25px;
            width: 65px;
        }
        &__google{
            height: 35px;
            width: 80px;
        }
        &__windows{
            height: 28px;
            width: 70px;
        }
    }
    }
    }

// -----------------------------------------------


@media (max-width: 767px) {
    .subText {
        margin-top: 25px;
    }
    .menu {
        position: fixed;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        left: -100%;
        width: 50%;
        height: 100vh;
        padding: 20px 15px;
        background-color: rgba(0,0,0, .8);
        transition: 0.6s all;
        &_active {
          left: 0;
        }
        &__item {
          padding-right: 0;
          border: none;
          margin: 10px 0;
        }
        &__link {
          font-size: 20px;
        }
      }
      .hamburger {
        display: block;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        width: 26px;
        height: 12px;
        span {
          display: block;
          height: 2px;
          width: 100%;
          background-color: #fff;
          margin-bottom: 2px;
          transition: 0.5s all;
        }
        &_active {
          span {
            margin-bottom: -2px;
            &:nth-child(1) {
              transform: translateY(3px) rotate(-45deg);
            }
            &:nth-child(2) {
              display: none;
            }
            &:nth-child(3) {
              transform: translateY(3px) rotate(45deg);
            }
          }
        }
      }
      .xs-hidden {
        display: none;
      }
      .xs-visible {
        display: block;
      }
      .subheader {
        &_phone {
          display: block;
          margin-top: 10px;
          color: #ffffff;
          font-size: 16px;
          font-weight: 400;
          text-transform: uppercase;
          text-align: center;
        }
        &__btn {
          display: block;
          width: 200px;
          height: 40px;
          margin: 0 auto;
          margin-top: 10px;
        }
      }
      .intro {
        &__header {
          line-height: 45px;
        }
      }
      .reasons {
        padding: 40px 0;
        &__descr {
          width: 350px;
        }
        &__subtitle {
          text-align: center;
        }
        &__text {
          margin-top: 10px;
        }
      }
      .mobile {
        padding: 40px 0;
      }
      .choice {
        min-height: 600px;
        padding: 40px 0;
      }
      .require {
        padding: 40px 0;
      }
      .world {
        min-height: 450px;
      }
      .footer{
        &__social{
            display: none;
        }
        &__links{
            margin-left: 0px;
            width: 380px;
        }
        &__mobile{
            display: none;
        }
      }
    }

// -----------------------------------------------


@media (max-width: 575px) {
    nav {
        height: 30px;
    }
    header {
        height: 30px;
    }
    .subText {
        font-size: 16px;
        margin-top: 15px;
        line-height: 16px;
    }
    .topDescr {
        font-size: 14px;
        line-height: 21px;
        margin-top: 11px;
    }
    .subheader {
        height: 60px;
        top: 30px;
        &__descr {
        display: none;
        }
        &__logo {
        margin-top: 16px;
        }
        &__phone {
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
        margin-top: 11px;
        }
        &__btn {
        width: 110px;
        height: 22px;
        font-size: 9px;
        margin-top: 6px;
        &:hover {
            background-image: linear-gradient(to top, $main-color 0%, #4ce2ff 100%);
        }
        }
    }
    .intro {
        min-height: 400px;
        padding: 93px 0 35px 0;
        &__descr {
        display: none;
        }
        &__header {
        font-size: 30px;
        padding: 0 24px;
        line-height: 35px;
        }
        &__subheader {
        font-size: 20px;
        margin-top: 33px;
        padding: 0 10px;
        line-height: 30px;
        }
        &__btn {
        width: 210px;
        height: 50px;
        margin-top: 72px;
        font-size: 16px;
        &:hover {
            background-image: linear-gradient(to top, $main-color 0%, #4ce2ff 100%);
        }
        }
    }
    .menu {
        width: 85%;
        &__item {
        width: 100%;
        text-align: center;
        padding: 5px 0;
        }
        &__link {
        display: block;
        }
    }
    .hamburger {
        &_active {
        span {
            &:nth-child(1) {
            transform: translateY(5px) rotate(-45deg);
            }
            &:nth-child(3) {
            transform: translateY(5px) rotate(45deg);
            }
        }
        }
    }
    .reasons {
        padding: 22px 0 36px 0;
        &__block {
        margin-top: 26px;
        }
        &__round {
        width: 100px;
        height: 100px;
        }
        &__descr {
        width: 100%;
        margin-top: 27px;
        }
        &__subtitle {
        font-size: 16px;
        text-align: left;
        }
        &__text {
        margin-top: 0;
        }
    }
    .mobile {
        padding: 20px 0 40px 0;
        .row {
        margin-top: 30px;
        }
        &__item {
        height: 254px;
        padding: 81px 40px 0 40px;
        &_subtitle {
            font-size: 18px;
            line-height: 31px;
        }
        &__plus {
            bottom: 28px;
            &:hover {
            &:before,
            &:after {
                background-color: $main-color;
            }
            }
        }
        }
    }
    .choice {
        padding: 25px 0 33px 0;
        min-height: 390px;
        background: #000;
        &_img {
        margin-top: 35px;
        }
        &__descr {
        margin-top: 23px;
        color: #ffffff;
        font-size: 17px;
        font-weight: 300;
        line-height: 24px;
        }
        .black {
        display: none;
        }
    }
    .hidden-320 {
        display: none;
    }
    .require {
        padding: 25px;
        &__block {
        margin: 30px 0 0 0;
        }
        &__title {
        font-size: 16px;
        }
        &__list {
        padding-left: 30px;
        margin-top: 5px;
        li {
            font-size: 14px;
            margin-bottom: 5px;
            line-height: 20px;
        }
        }
        &__descr {
        font-size: 14px;
        margin-top: 15px;
        }
    }
    .world {
        min-height: 360px;
        padding: 25px 0 30px 0;
        &__link {
        width: 200px;
        display: block;
        bottom: 30px;
        line-height: 15px;
        }
    }

    .footer{
        &__social{
            display: none;
        }
        &__mobile{
            display: none;
        }
    }
}

