@import url('/src/css/fonts.css');

*{
    font-family: 'Roboto';
}

// HEADER //

header{
    position: relative;
}
nav{
    height: 60px;
    background-color: #212121;
}

.menu{
    display: flex;
    justify-content: space-between;
    padding: 18px 70px;
    list-style-type: none;
    margin: 0;
        &__link {
    text-decoration: none;
    color:#fff;
    font-size: 15px;
    font-weight: 300;  
    }
    &__item{
        border-right: 2px dotted black;
        padding-right: 30px 
    }:last-child{
        border-right: none;
        padding-right: 0;
    }
}

.subheader{
    background-color: rgba(0, 0, 0, .6);
    height: 84px;
    position: absolute;
    width: 100%;
    &__logo{
        display: block;
        margin-top: 16px;
        max-width: 100%;
    }
    &__descr{
        font-size: 13px;
        font-weight: 300;
        color:#fff;
        margin-top: 6px;
    }
    &__call{
        color: #fff;
        font-size: 12px;
        margin-top: 17px;
        font-weight: 300;
        text-align: right;
    }
    &__phone{
        color:#fff;
        display: block;
        font-size: 22px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: right;
        text-decoration: none;
    }
    &__btn{
        margin-top: 19px;
        text-transform: uppercase;
        color:#fff;
        width: 172px;
        height: 46px;
        box-shadow: inset 0 -3px 0 rgba(0, 0, 0, .12);
        border: none;
        background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
        text-shadow: 1px 1px 0 rgba(0, 0, 0, .21);
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        border-radius: 4px;
        &:hover{
            background-image: none;
            background-color: #1eacc7;
        }
    }
}

// INTRO //
.intro{
    min-height: 800px;
    background: url(/src/images/img/mainBg.jpg) center center / cover no-repeat;
    padding: 150px 0 135px 0;
    &__header{
        font-size: 60px;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
        line-height: 60px;
        margin: 0;
        text-align: center;
    }
    &__subheader{
        font-size: 36px;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
        line-height: 36px;
        margin: 0;
        margin-top: 22px;
        text-align: center;
    }
    &__descr{
        font-size: 18px;
        font-weight: 300;
        line-height: 24px;
        text-align: center;
        color: #fff;
        margin-top: 23px;
    }
    &__btn{
        display: block;
        margin: 118px auto 0;
        width: 260px;
        height: 63px;
        box-shadow: inset 0 -3px 0 rgba(0, 0, 0, .12);
        background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
        text-shadow: 1px 1px 0 rgba(0, 0, 0, .21);
        color: #fff;
        border-radius: 4px;
        font-size: 18px;
        text-transform: uppercase;
        &:hover{
            background-image: none;
            background-color: #1eacc7;
        }
    }
}

//REASONS//
.reasons{
    min-height: 850px;
    padding: 71px 0 65px 0;
        &__block{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 35px;
        }
        &__round{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 25px;
            width: 113px;
            height: 113px;
            background-color: #1eacc7;
            border-radius: 100%;
        }
        &__descr{
            width: 343px;
        }
}

.topText{
    font-weight: 300;
    font-size: 17px;
    margin: 0 auto;
    height: 24px;
    width: 112px;
    background-color: #000000;
    color: #ffffff;
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    padding-top: 4px;
    &__white{
        color:#070716;
        background-color:#fff;
        position: relative;
        z-index: 2;
    }
}

.subText{
    font-size: 15px;
    color: #202020;
    font-size: 40px;
    text-align: center;
    font-weight: 700;
    margin-top: 33px;
    text-transform: uppercase;
    &__white{
        color:#fff;
        position: relative;
        z-index: 2;
    }
}

.title{
    color: #1EACC7;
    font-size: 15px;

}

//MOBILE//
.mobile{
    min-height: 850px;
    padding: 45px 80px;
    &__items{
        margin-top: 30px;
    }
    &__item{
        position: relative;
        width: 320px;
        height: 280px;
        margin: 0 auto;
        margin-bottom: 19px; 
        &__subtitle{
            color: #fff;
            font-size: 24px;
            text-transform: uppercase;
            text-align: center;
            line-height: 31px;
            padding-top: 92px;
        }
        &__plus{
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            bottom: 35px;
            left: 50%;
            transform: translateX(-50%);
            width: 26px;
            height: 26px;
            background-color: #000;
            border-radius: 100%;
            margin: 0 auto;
            padding: 6px;
            cursor: pointer;
            &:before{
                content:'';
                width: 14px;
                height: 2px;
                background-color: #1eacc7;
            }
            &:after{
                content:'';
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                height: 14px;
                width: 2px;
                background-color: #1eacc7;
                transition: 0.3 all;
            }
            &:hover{
                &:after, &:before{
                    background-color: #ff5656;
                }
            }
        }
        &_1{
            background: url(/src/images/img/cards/Карточка\ 1.png) center center/cover no-repeat
        }
        &_2{
            background: url(/src/images/img/cards/Карточка\ 2.png) center center/cover no-repeat
        }
        &_3{
            background: url(/src/images/img/cards/Карточка\ 3.png) center center/cover no-repeat
        }
        &_4{
            background: url(/src/images/img/cards/Карточка\ 4.png) center center/cover no-repeat
        }
        &_5{
            background: url(/src/images/img/cards/Карточка\ 5.png) center center/cover no-repeat
        }
        &_6{
            background: url(/src/images/img/cards/Карточка\ 6.png) center center/cover no-repeat
        }
    }
}

.topDescr{
    text-align: center;
    font-size: 17px;
    &__white{
        color:#fff;
        position: relative;
        z-index: 2;
    }
}

//CHOICE//
.choice{
    position: relative;
    min-height: 900px;
    padding: 55px 135px;
    &__img{
        position: relative;
        display: block;
        margin: 0 auto;
        margin-top: 55px;
        z-index: 2;
    }
    &__descr{
        text-align: center;
		color: #222222;
		font-size: 17px;
		font-weight: 300;
		line-height: 24px;
    }
}
.black{
    position: absolute ;
    top: 0;
    left: 0;
    height: 499px;
    width: 100%;
    background-color: #070716;
    z-index: 1;
}

//Require//
.require{
    padding: 60px 90px;
    &__block{
        margin: 33px 0;
        &__nmb{
            margin-bottom: 0px;
        }
    }
    &__title{
        color: #1ca8c3;
        font-size: 22px;
        &__red{
            color:#ff5656;
        }
        &__red{
            li{
                &:before{
                    background: url('/src/images/icons/check_red\ 1.png');
                }
            }
        }
    }
    &__list{
        list-style-type: none;
        padding-left: 10px;
        margin-top: 22px;
        li{
            position: relative;
            font-size: 17px;
            font-weight: 300;
            line-height: 24px;
            margin-bottom: 10px;
            &:before{
                content:'';
                display: block;
                position: absolute;
                left: -32px;
                top: 3px;
                width: 21px;
                height: 20px;
                background: url('/src/images/icons/check_blue\ 1.png');
            }
        }
    }
    .warning{
        .require__title{
            color:#ff5656
        }
        .require__list{
            li{
                &:before{
                    background: url('/src/images/icons/check_red\ 1.png');
                }
            }
        }
    }
}

//WORLD//
.world{
  min-height: 700px;
  padding: 50px 0;
  background: url('/src/images/img/map.jpg') center center/cover no-repeat;
  position: relative;
  &__link{
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
    font-size: 15px;
    font-weight: 400;
    color: #1EACC7
    }
}

//FOOTER//
footer{
    padding: 11px 21px 11px 21px;
    a{
        text-transform: uppercase;
        text-decoration: none;
        &:hover{
            text-decoration: none
        }
    }
}

.footer{
    &__divider{
        width: 300px;
        height: 4px;
        background-color: #1fbad6;
        margin: 0 auto;
    }
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 32px;
    }
    &__wrapper > div {
        width: 33%;
        &:nth-child(3){
            margin-left: 150px;
        }

    }
    &__social{
        width: 160px;
        display: flex;
        justify-content: space-between;
        margin-left: 20%;
        &__item{
            display: flex;
			justify-content: center;
			align-items: center;
			margin: 0 4px ;
			width: 32px;
			height: 32px;
			background-color: #070716;
			border-radius: 100%;
            i{
                color: #fff;
            }
        }
    }
    &__links{
        width: 390px;
        margin: 0 auto;
        margin-left: 80px;
        &__main{
            display: flex;
            justify-content: space-between;
            padding: 0 10px;
            a{
                color: #070716;
				font-size: 15px;
				font-weight: 300;
            }
        }
        &__sub{
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
            a{
                color: #999999;
				font-size: 11px;
				font-weight: 300;
            }
        }
        &__lang{
            display: block;
            color: #1EACC7;
            margin: 0 auto;
            font-size: 11px;
            text-align: center;
            margin-top: 19px;
        }
    }
    &__mobile{
        margin-left: 60px;
        &__apple{
            height: 25px;
            width: 75px;
        }
        &__google{
            height: 37px;
            width: 80px;
        }
        &__windows{
            height: 30px;
            width: 75px;
        }
    }   
}

